/* src/Footer.css */

.footer {
<<<<<<< HEAD
    background-color: rgba(51, 65, 85, 1);
    /* Updated background color */
    color: #a0aec0;
    padding: 0 80px;
    /* Updated padding */
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    /* Adjust the height to fit content */
=======
    background-color: #2d3748;
    color: #a0aec0;
    padding: 50px 0;
    max-width: 1440px;
    margin: 0 auto;
    ;
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
<<<<<<< HEAD
    margin-bottom: 20px;
    /* Reduced margin */
=======
    margin-bottom: 30px;
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    color: white;
<<<<<<< HEAD
    margin-bottom: 10px;
    /* Reduced margin */
=======
    margin-bottom: 15px;
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
<<<<<<< HEAD
    margin-bottom: 5px;
    /* Reduced margin */
=======
    margin-bottom: 10px;
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}

.footer-column ul li .beta {
    background-color: #4a63e7;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
<<<<<<< HEAD
    padding: 10px 0;
    /* Reduced padding */
    margin-top: 10px;
    /* Reduced margin */
=======
    gap: 20px;
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}

.footer-bottom p {
    margin: 0;
<<<<<<< HEAD
    flex: 1;
    text-align: left;
}

.social-media,
.app-buttons {
    display: flex;
    gap: 10px;
    /* Reduced gap */
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    /* Reduced margin */
}

.social-media img,
.app-buttons img {
    cursor: pointer;
}

.social-media img {
    width: 20px;
    /* Adjusted size */
    height: auto;
}

.app-buttons img {
    width: 130px;
    /* Adjusted size */
    height: auto;
}

.footer-wrapper {
    padding-bottom: 10px;
    /* Reduced padding */
    padding-left: 80px;
    /* Adjusted padding */
    padding-right: 80px;
    /* Adjusted padding */
=======
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media i {
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(245, 237, 237);
}

.app-buttons {
    display: flex;
    gap: 20px;
    /* Adjust the gap between buttons */
}

.app-buttons img {
    width: 150px;
    height: auto;
    cursor: pointer;
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}