.testimonials-section {
    text-align: center;
    padding: 50px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(6, 11, 84);
}

.testimonials-section h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.testimonials-section p {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 40px;
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.testimonial {
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.testimonial-header img {
    width: 40px;
    height: 40px;
}

.testimonial-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}

.testimonial-content p {
    color: #ccc;
    font-size: 1em;
    margin-bottom: 20px;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial-author h4 {
    margin: 0;
    font-size: 1em;
    color: #fff;
}

.testimonial-author p {
    margin: 0;
    font-size: 0.9em;
    color: #aaa;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
}

.pagination-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.pagination-button img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.pagination-button span {
    display: inline-block;
}

.pagination-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}