/* src/ToolsControlSection.css */

.tools-control-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    max-width: 1440px;
    margin: 0 auto;
<<<<<<< HEAD
    background-color: rgba(30, 41, 59, 1);
=======
    background-color: rgb(6, 11, 84);
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
    /* Match background color */
    color: white;
}

.images-content {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
=======
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
    gap: 10px;
    /* Set gap to 10px */
}

.images-content img {
<<<<<<< HEAD
    width: 100%;
    /* Make sure images take full width */
=======
    width: 288px;
    /* Set width to 288px */
    height: 288px;
    /* Set height to 288px */
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
    border-radius: 20px;
    /* Set border radius to 20px */
    object-fit: cover;
    /* Ensure the image covers the entire area */
<<<<<<< HEAD
}

.images-content img:nth-child(1) {
=======
    margin: 0 auto;
    /* Center align images */
}

.images-content img:first-child {
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
    grid-column: span 2;
    width: 485px;
    /* Set width to 485px for the first image */
    height: 288px;
    /* Set height to 288px for the first image */
<<<<<<< HEAD
    margin: 0 auto;
    /* Center align the first image */
}

.images-content img:nth-child(2),
.images-content img:nth-child(3),
.images-content img:nth-child(4) {
    width: 288px;
    /* Set width to 288px */
    height: 288px;
    /* Set height to 288px */
    margin: 0 auto;
    /* Center align the other images */
=======
>>>>>>> 7cf624d91117dc6b6a93a86b232d146746e04ee3
}

.text-content {
    max-width: 500px;
    margin-left: 20px;
}

.text-content h2 {
    font-size: 2.5em;
    margin: 0;
}

.text-content h3 {
    font-size: 2em;
    color: #6574cd;
    /* Adjust color to match the style */
    margin: 10px 0;
}

.text-content p {
    font-size: 1.2em;
    color: #a0aec0;
    /* Adjust color for better contrast */
    margin-top: 20px;
}

.text-content ul {
    list-style-type: none;
    padding: 0;
}

.text-content ul li {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.text-content ul li::before {
    content: '✔';
    color: #6574cd;
    margin-right: 10px;
}

.start-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4a63e7;
    color: white;
    margin-top: 20px;
}